<a href="https://colab.research.google.com/github/Saividya5009/assignment/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.write a pyhton program to print the following string in a specific format.

In [ ]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

2.Write a Python program to test whether a number is within 100 of 1000 or 2000.

In [ ]:
def number(n):
  return((abs(1000-n<=100))or(abs(2000-n<=100)))
print(number(200))
print(number(2049))

0
1

3. Write a Python program to calculate the sum of three given numbers, if the values are equal
then return three times of their sum.

In [ ]:
x=int(input("enter the number"))
y=int(input("enter the number"))
z=int(input("enter the number"))
sum1=x + y + z
if(x==y==z):
  sum=sum1*3
  print("sum")
else:
  print(sum1)

enter the number3
enter the number3
enter the number3
sum

4. Write a Python program to find whether a given number (accept from the user) is even or
odd, print out an appropriate message to the user.

In [ ]:
num=int(input("enter the number"))
flag=num%2
if(flag==0):
  print("even number")
else:
  print("odd number")

enter the number23
odd number

5. Write a Python program to get a string made of the first 2 and the last 2 chars from a given
string. If the string length is less than 2, return instead of the empty string.

In [ ]:
def string(str):
  if(len(str)<2):
    return ''
  else:
    return(str[0:2]+str[-2:])
print(string("corona holidays"))

coys

6. Write a Python program to get a single string from two given strings, separated by a space
and swap the first two characters of each string.

In [ ]:
string1=str(input("enter the string"))
string2=str(input("enter the string"))
newstring1=string2[:2]+string1[2:]
newstring2=string1[:2]+string2[2:]
print(newstring1+' '+newstring2)

enter the stringtwo
enter the stringgirls
gio twrls

7. Write a Python program to find the first appearance of the substring 'not' and 'poor' from a
given string, if 'not' follows the 'poor', replace the whole 'not'...'poor' substring with 'good'.
Return the resulting string

In [ ]:
def not_poor(str1):
  snot = str1.find('not')
  spoor = str1.find('poor')
  if spoor > snot and snot>0 and spoor>0:
    str1 = str1.replace(str1[snot:(spoor+4)], 'good')
    return str1
  else:
    return str1
print(not_poor('The lyrics is not that poor!'))
print(not_poor('The lyrics is poor!'))

The lyrics is good!
The lyrics is poor!

8. Write a Python function to reverses a string if it's length is a multiple of 4.

In [ ]:
def string(str):
  if(len(str)%4==0):
    return(str[::-1])
  return(str)
print(string("online classes"))
print(string("data"))

online classes
atad

9. Write a Python program to convert all units of time into seconds.

In [ ]:
days=int(input("enter the days"))*3600*24
hours=int(input("enter the hours"))*3600
minutes=int(input("enter the minutes"))*60
seconds=int(input("enter the seconds"))
print(days)
print(hours)
print(minutes)
print(seconds)

enter the days2
enter the hours23
enter the minutes45
enter the seconds87
172800
82800
2700
87

10. Write a Python program to sort three integers without using conditional statements and
loops.

In [ ]:
a1=int(input("enter the number"))
a2=int(input("enter the number"))
a3=int(input("enter the number"))
x=min(a1,a2,a3)
z=max(a1,a2,a3)
y=(a1+a2+a3)-x-z
print(x,y,z)

enter the number3
enter the number7
enter the number4
3 4 7

11. Write a Python program to get the details of the math module.

In [ ]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

12. Write a Python program to concatenate N strings.

In [ ]:
str1=input(str("enter the string"))
str2=input(str("enter the string"))
new_string=str1+str2
print(new_string)

enter the stringhi
enter the stringhlo
hihlo